.posts{
    .post{
        transition: all 0.2s ease-in-out;
        
    }
    .post:hover{
        transform: scale(1.05);
        box-shadow: 2px 2px 5px rgb(175, 170, 170) !important;
        transition: all 0.2s ease-in-out;
    }
}