@import 'colors';
@import 'base';
@import 'animations';

.container {
    max-width: 1400px;
    margin: 0 auto;
    > div:not(.nav) > div {
        padding: 5rem 10rem;
        
    }
}



.nav {
    display: flex;
    flex-wrap: wrap;
    background-color: $secondary-bg-color;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    .navbar {
        ul {
            list-style: none;
            display: flex;
            gap: 0 2rem;
            font-size: 2.2rem;
            a {
                text-decoration: none;
                color: $secondary-font-color;
                font-weight: bold;
            }
        }
    }
}

.searchbox {
    
    input {
        background-color: $secondary-color;
        border: none;
        font-size: 2rem;
        padding: 1.5rem;
        
    }
    button {
        background-color: $primary-color;
        border: none;
        color: $secondary-font-color;
        font-size: 3rem;
        padding: 1rem;
        position: relative;
        top: 3px;
        left: -3px;
        
    }
}
.header {
    .main-section {
        background-color: $secondary-color;
        background-image: url("../images/header_image.png");
        background-repeat: no-repeat;
        background-position: right 10rem top 10rem;
        height: 700px;

        color: $secondary-font-color;

        display: flex;
        align-items: center;

        p {
            font-size: 2rem;
            width: 50%;
        }
        .btn {
            margin: 0 1rem;
        }
    }
    .secondary-section {
        background-color: $secondary-font-color;
        display: flex;
        flex-wrap: wrap;
        gap: 5rem 0;
        justify-content: space-between;
        align-items: center;
        padding: 10rem inherit;
        min-height: 700px;
        
        h2 {
            font-size: 3rem;
        }
        p {
            font-size: 1.8rem;
        }
        .content {
            width: 50%;
        }
        .image {
            background-color: $secondary-color;
            position: relative;
            z-index: 2;

            img {
                opacity: 0.5;
            }
            a {
                position: absolute;
                top: calc(50% - 5rem);
                left: calc(50% - 1rem);
                background-color: $secondary-font-color;
                font-size: 4rem;
                padding: 1rem 2rem;
                color: $primary-font-color;

                border-radius: 50%;
            }
        }
        .image::after {
            content: " ";
            display: block;
            background-color: $secondary-color;
            width: 200px;
            height: 200px;
            position: absolute;
            bottom: -25px;
            left: -25px;
            z-index: -1;
        }
    }
}

.about {
    .main-section {
        background-color: $secondary-color;
        color: $secondary-font-color;
        text-align: center;
        

        .items {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            margin-top: 10rem;

            .item {
                img {
                    border: 8px solid $secondary-font-color;
                }
                h3 {
                    text-transform: uppercase;
                }
                p {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 350px;
                    height: 1.2em;
                    white-space: nowrap;
                }
            }
        }
    }

    .secondary-section {
        background-color: $secondary-font-color;
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
        justify-content: space-between;
        align-items: center;
        padding: 5rem inherit;
        min-height: 700px;
        h2 {
            font-size: 3rem;
        }
        p {
            font-size: 1.8rem;
        }
        .content {
            width: 50%;
        }
        .image {
            background-color: $secondary-color;
            position: relative;
            z-index: 2;

            img {
                opacity: 0.5;
            }
            a {
                position: absolute;
                top: calc(50% - 5rem);
                left: calc(50% - 1rem);
                background-color: $secondary-font-color;
                font-size: 4rem;
                padding: 1rem 2rem;
                color: $primary-font-color;

                border-radius: 50%;
            }
        }
        .image::after {
            content: " ";
            display: block;
            background-color: $secondary-color;
            width: 200px;
            height: 200px;
            position: absolute;
            bottom: -25px;
            right: -25px;
            z-index: -1;
        }
    }
}

.service {
    .main-section {
        background-color: $secondary-color;
        color: $secondary-font-color;
        text-align: center;

        .items {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            margin-top: 10rem;

            .item {
                img {
                    border: 8px solid $secondary-font-color;
                }
                h3 {
                    text-transform: uppercase;
                }
                p {
                    span{
                        margin-right: 1rem;    
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
    .secondary-section {
        text-align: center;
        background-color: $secondary-font-color;
        padding: 20rem 10rem !important;
        .items {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            margin-top: 5rem;

            .item {
                img {
                    border: 8px solid $secondary-font-color;
                }
                h3 {
                    text-transform: uppercase;
                }
              
               
            }
        }

        .social {
            font-size: 3rem;
            a {
                color: $secondary-bg-color;
                margin: 0 0.5rem;
            }
        }
    }
}
.contact {
    .main-section {
        position: relative;
        background: url("../images/bg1.png");
        display: flex;
        flex-wrap: wrap;
        gap: 2rem 10rem;
        height: 470px;
        justify-content: space-around;
        align-items: center;

        .item {
            font-size: 5rem;
            color: $secondary-font-color;
            text-align: center;
            i {
            }
        }
        /* ::before{

            content: '';
            background-color: $secondary-color;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.05;
            z-index: 1;
        }*/
    }
    .secondary-section {
        background-color: $secondary-font-color;
        padding: 20rem 10rem !important;
        h2,
        p {
            text-align: center;
        }
        
        .posts {
            display: flex;
            
            
            gap: 0 4rem;
            margin-top: 10rem;
            .post {
                

                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.158);
                img {
                   width: 100%;
                }
                .description {
                    padding: 1rem;
                   /* border-left: 1px solid black;
                    border-bottom: 1px solid black;
                    border-right: 1px solid black;*/
                    .date,
                    .more {
                        font-size: 1.6rem;
                    }
                    .more {
                        text-decoration: none;
                        font-weight: bold;
                        font-size: 2rem;
                    }
                }
            }
            .post:nth-child(2) {
                .description {
                    border: none;
                }
            }
        }
    }
}

.footer {
    .main-section {
        background-color: $primary-bg-color;
        color: $secondary-font-color;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .nav-items {
            list-style-type: none;
            .nav-item {
                margin: 2rem 0;
            }
        }
        a {
            color: $secondary-font-color;
            text-decoration: none;
            font-size: 2rem;
        }
        .column{
            .social {
                display: flex;
                justify-content: center;
                gap: 4rem 4rem;
                padding: 2rem;
                a{
                    font-size: 3rem !important;
                    
                }
            }
            
        }
        .column:nth-child(3){
            text-align: right;
        }
        
    }
}

.subscription-box {
    @extend .searchbox;
}

.social{
    a{
        transition: scale 0.2s ease-in-out;
    }
    a:hover{
        transform: scale(1.1);
        transition: scale 0.2s ease-in-out;
    }
}