html {
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Inter";
  background-color: #00c3cf;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
}

.primary-color {
  color: #00c3cf;
}

.btn {
  padding: 1.5rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  background: none;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
}

.btn.btn-primary {
  background-color: #00c3cf;
  border: 2px solid #00c3cf;
  transition: all 0.2s ease-in-out;
}

.btn.btn-primary:hover {
  border: 2px solid #fff;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.btn.btn-secondary {
  border: 2px solid #ffc500;
  background-color: #ffc500;
  color: #fff;
}

.btn.btn-secondary:hover {
  background-color: transparent;
  color: #ffc500;
  border: 2px solid #ffc500;
}

.btn.btn-secondary-outline {
  border: 2px solid #fff;
}

.btn.btn-secondary-outline:hover {
  border: 2px solid #00c3cf;
  background-color: #00c3cf;
}

.btn.rounded {
  border-radius: 30px;
}

button:hover, .btn:hover {
  cursor: pointer;
}

a:hover {
  text-decoration: underline !important;
  text-underline-offset: 0.5rem;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.posts .post {
  transition: all 0.2s ease-in-out;
}
.posts .post:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 5px rgb(175, 170, 170) !important;
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.6rem;
  }
  .container > div:not(.nav) > div {
    padding: 1rem 2rem !important;
  }
  .nav .navbar {
    display: none;
  }
  .nav .searchbox, .nav .subscription-box {
    display: none;
  }
  .header .main-section {
    background-position: right -10rem top 10rem !important;
  }
  .header .main-section .header-content {
    background-color: rgba(49, 49, 49, 0.3137254902);
    padding: 1rem;
  }
  .header p {
    width: unset !important;
  }
  .header .secondary-section .content {
    width: 100% !important;
  }
  .header .secondary-section .image {
    width: 100%;
    margin-bottom: 5rem;
  }
  .header .secondary-section .image img {
    width: 100%;
  }
  .about .secondary-section .content {
    width: 100% !important;
  }
  .about .secondary-section .image {
    width: 100%;
    margin-bottom: 5rem;
  }
  .about .secondary-section .image img {
    width: 100%;
  }
  .footer .column:nth-child(3) h2, .footer .column:nth-child(3) p {
    text-align: left;
  }
  .footer .column:nth-child(3) .subscription-box button {
    top: -53px;
    left: 0px;
  }
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.container > div:not(.nav) > div {
  padding: 5rem 10rem;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  background-color: #eaad00;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.nav .navbar ul {
  list-style: none;
  display: flex;
  gap: 0 2rem;
  font-size: 2.2rem;
}
.nav .navbar ul a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.searchbox input, .subscription-box input {
  background-color: #ffc500;
  border: none;
  font-size: 2rem;
  padding: 1.5rem;
  padding-right: 6.5rem;
  color: #fff;
  outline: none;
}
.searchbox input:focus, .subscription-box input:focus {
  outline: 2px solid #00c3cf;
}
.searchbox button, .subscription-box button {
  background-color: #00c3cf;
  border: none;
  color: #fff;
  font-size: 3rem;
  padding: 1rem;
  position: relative;
  top: 3px;
  left: calc(-5rem - 2px);
}

.header .main-section {
  background-color: #ffc500;
  background-image: url("../images/header_image.png");
  background-repeat: no-repeat;
  background-position: right 10rem top 10rem;
  height: 700px;
  color: #fff;
  display: flex;
  align-items: center;
}
.header .main-section p {
  font-size: 2rem;
  width: 50%;
}
.header .main-section .btn {
  margin: 0 1rem;
}
.header .secondary-section {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem 0;
  justify-content: space-between;
  align-items: center;
  padding: 10rem inherit;
  min-height: 700px;
}
.header .secondary-section h2 {
  font-size: 3rem;
}
.header .secondary-section p {
  font-size: 1.8rem;
}
.header .secondary-section .content {
  width: 50%;
}
.header .secondary-section .image {
  background-color: #ffc500;
  position: relative;
  z-index: 2;
}
.header .secondary-section .image img {
  opacity: 0.5;
}
.header .secondary-section .image a {
  position: absolute;
  top: calc(50% - 5rem);
  left: calc(50% - 1rem);
  background-color: #fff;
  font-size: 4rem;
  padding: 1rem 2rem;
  color: #000;
  border-radius: 50%;
}
.header .secondary-section .image::after {
  content: " ";
  display: block;
  background-color: #ffc500;
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -25px;
  left: -25px;
  z-index: -1;
}

.about .main-section {
  background-color: #ffc500;
  color: #fff;
  text-align: center;
}
.about .main-section .items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 10rem;
  justify-content: center;
}
.about .main-section .items .item img {
  border: 8px solid #fff;
}
.about .main-section .items .item h3 {
  text-transform: uppercase;
}
.about .main-section .items .item p {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 350px;
  height: 1.2em;
  white-space: nowrap;
}
.about .secondary-section {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: space-between;
  align-items: center;
  padding: 5rem inherit;
  min-height: 700px;
}
.about .secondary-section h2 {
  font-size: 3rem;
}
.about .secondary-section p {
  font-size: 1.8rem;
}
.about .secondary-section .content {
  width: 50%;
}
.about .secondary-section .image {
  background-color: #ffc500;
  position: relative;
  z-index: 2;
}
.about .secondary-section .image img {
  opacity: 0.5;
}
.about .secondary-section .image a {
  position: absolute;
  top: calc(50% - 5rem);
  left: calc(50% - 1rem);
  background-color: #fff;
  font-size: 4rem;
  padding: 1rem 2rem;
  color: #000;
  border-radius: 50%;
}
.about .secondary-section .image::after {
  content: " ";
  display: block;
  background-color: #ffc500;
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -25px;
  right: -25px;
  z-index: -1;
}

.service .main-section {
  background-color: #ffc500;
  color: #fff;
  text-align: center;
}
.service .main-section .items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 10rem;
  justify-content: center;
}
.service .main-section .items .item img {
  border: 8px solid #fff;
}
.service .main-section .items .item h3 {
  text-transform: uppercase;
}
.service .main-section .items .item p span {
  margin-right: 1rem;
  text-decoration: line-through;
}
.service .secondary-section {
  text-align: center;
  background-color: #fff;
  padding: 20rem 10rem !important;
}
.service .secondary-section .items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
  justify-content: center;
}
.service .secondary-section .items .item img {
  border: 8px solid #fff;
}
.service .secondary-section .items .item h3 {
  text-transform: uppercase;
}
.service .secondary-section .social {
  font-size: 3rem;
}
.service .secondary-section .social a {
  color: #eaad00;
  margin: 0 0.5rem;
}

.contact .main-section {
  position: relative;
  background: linear-gradient(rgba(255, 196, 0, 0.3764705882), rgba(255, 196, 0, 0.3764705882)), url("../images/bg1.png");
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 10rem;
  height: 470px;
  justify-content: space-around;
  align-items: center;
  /* ::before{

       content: '';
       background-color: $secondary-color;
       width: 100%;
       height: 100%;
       position: absolute;
       top: 0;
       left: 0;
       opacity: 0.05;
       z-index: 1;
   }*/
}
.contact .main-section .item {
  font-size: 5rem;
  color: #fff;
  text-align: center;
}
.contact .secondary-section {
  background-color: #fff;
  padding: 20rem 10rem !important;
}
.contact .secondary-section h2,
.contact .secondary-section p {
  text-align: center;
}
.contact .secondary-section .posts {
  display: flex;
  gap: 4rem;
  margin-top: 10rem;
  flex-wrap: wrap;
  justify-content: center;
}
.contact .secondary-section .posts .post {
  width: 350px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.058);
}
.contact .secondary-section .posts .post h3 {
  padding: 0;
}
.contact .secondary-section .posts .post img {
  width: 100%;
}
.contact .secondary-section .posts .post .description {
  padding: 0 4rem 4rem 4rem;
  /* border-left: 1px solid black;
   border-bottom: 1px solid black;
   border-right: 1px solid black;*/
}
.contact .secondary-section .posts .post .description .date,
.contact .secondary-section .posts .post .description .more {
  font-size: 1.6rem;
}
.contact .secondary-section .posts .post .description .more {
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
}
.contact .secondary-section .posts .post:nth-child(2) .description {
  border: none;
}

.footer .main-section {
  background-color: #313131;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer .main-section .nav-items {
  list-style-type: none;
}
.footer .main-section .nav-items .nav-item {
  margin: 2rem 0;
}
.footer .main-section a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}
.footer .main-section .column .social {
  display: flex;
  justify-content: center;
  gap: 4rem 4rem;
  padding: 2rem;
}
.footer .main-section .column .social a {
  font-size: 3rem !important;
}
.footer .main-section .column:nth-child(3) {
  text-align: right;
}

.social a {
  transition: scale 0.2s ease-in-out;
}
.social a:hover {
  transform: scale(1.1);
  transition: scale 0.2s ease-in-out;
}/*# sourceMappingURL=style.css.map */